body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.3rem;
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  margin: 0px auto;
  color: #212121;
  background-color: #f8f8f8;
  grid-template: "header header" 70px "...    main  " 1fr "footer footer" 70px /20% 1fr;
}

body header {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #ffc213;
  grid-area: header;
  grid-template: "logo environment another developer" 1fr /40% 20% 20% 20%;
}

body header img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  grid-area: logo;
}

body header a {
  color: #212121;
}

body header a .environment {
  grid-area: environment;
}

body header a .another {
  grid-area: another;
}

body header a .developer {
  grid-area: developer;
}

body header a:hover {
  text-decoration: none;
}

body main {
  grid-area: main;
  display: -ms-grid;
  display: grid;
  grid-template: "content ... table" /62% 13% 25%;
}

body main h1 {
  display: inline-block;
  font-size: 2.3rem;
  line-height: 2.6rem;
  margin-top: 2rem;
  padding: 1rem;
  padding-right: 4rem;
  border-bottom: solid 3px #516ab6;
  background: #eaf3ff;
}

body main article {
  grid-area: content;
}

body main article h2 {
  font-family: MS PGothic;
  font-size: 2.8rem;
  font-weight: bolder;
  line-height: 3.1rem;
  text-align: center;
  margin: 4rem 0px 4rem 0px;
}

body main article nav ul {
  display: inline-block;
  padding: 0px;
  margin: 0px 0px 1rem 3rem;
}

body main article nav ul li {
  font-weight: bold;
  line-height: 1.5px;
  margin-bottom: 3px;
  padding: 1.2em;
  padding-right: 4rem;
  list-style-type: none !important;
  border-bottom: solid 2px #dadada;
  border-left: solid 6px #1fa67a;
  background: whitesmoke;
}

body main article nav ul li a {
  color: #212121;
}

body main article section h3 {
  font-size: 2rem;
  line-height: 2.3rem;
  position: relative;
  margin-bottom: 40px;
  padding-left: 1.2em;
}

body main article section h3:before {
  font-family: "Font Awesome 5 Free";
  font-size: 1em;
  font-weight: 900;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "\2714";
  color: #5ab9ff;
}

body main article section red {
  color: #ef4747;
}

body main article section pre {
  display: inline-block;
  margin: 1em 0px;
  padding: 0.05em 1.5em;
  padding-top: 20px;
  padding-right: 80px;
  color: #fff;
  border-top: solid 5px #5d627b;
  background: #25292f;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.22);
}

body main article section hr {
  margin: 40px 0px 30px 0px;
}

body main article #bottom {
  margin-bottom: 50px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  grid-template: "... left center right ..." /15% 20% 30% 20% 15%;
}

body main article #bottom .bottom_left {
  grid-area: left;
}

body main article #bottom .bottom_center {
  grid-area: center;
}

body main article #bottom .bottom_right {
  grid-area: right;
}

body main aside {
  grid-area: table;
}

body main aside h4 {
  font-size: 1.2rem;
}

body main aside ol {
  min-width: 75%;
  max-width: 75%;
  padding: 0.5em 0px 0.5em 1.5em;
  color: #1e366a;
  border-top: solid #1e366a 1px;
  border-bottom: solid #1e366a 1px;
}

body main aside ol li {
  line-height: 1.5;
  padding: 0.5em 0px;
}

body footer {
  background-color: #ffc213;
  grid-area: footer;
}

body footer small {
  margin: 6px;
}

@media screen and (max-width: 1000px) {
  body {
    grid-template: "header header header" 70px "...    main   ...   " 1fr "...    table  ...   " 1fr "footer footer footer" 70px /10% 1fr 10%;
  }
}
/*# sourceMappingURL=style.css.map */